input {
    background-color: rgb(80, 88, 87);
    border:1px solid rgb(76, 130, 109);
    border-radius: 5px;
    padding:0.5vw 1vw;
    color:white;
    margin:2.5vw 1.5vw 0.5vw 0.5vw;
}

input::placeholder{
    padding: 1.4vw 1vw 1.4vw 0vw;
    color:rgb(221, 224, 224);
}