button{
    padding:1vw 2vw;
    margin:1vw;
    color:white;
    border:1px solid grey;
}
button:hover{
    background-color: grey;
}
input {
    background-color: grey;
    border-color: white;
    color:white;
    padding:0.5vw 1vw;
    margin-right: 1vw;
}
input[type="submit"]{
    padding:0.5vw 1vw;
}
input::placeholder{
    padding: 1.4vw 1vw 1.4vw 0vw;
    color:rgb(221, 224, 224);
}